Flask==1.1.2
keras==2.4.3
gunicorn==20.0.4
Werkzeug==0.16.0
requests==2.25.0
fastapi==0.62.0
uvicorn==0.12.3
python-dotenv==0.15.0
aiofiles==0.6.0
python-multipart==0.0.5
jinja2==2.11.3
Markdown==3.3.3
Pillow==8.1.1
click==7.1.2
dominate==2.6.0
Flask-Bootstrap==3.3.7.1
flatbuffers==1.12
h5py==2.10.0
itsdangerous==1.1.0
Keras-Preprocessing==1.1.2
